/*********************************************
Raving Redactionist CSS.
**********************************************/

/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  color: gold;
  text-align: center;
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 100px;
  margin-top: 100px;
  background-color: royalblue;
}

/* decyphered elements are highlighted, translation shown temporarily */
.decyphered {
  background-color: navy; /* dark background */
}

/* unknown items are turquoise */
.unknown {
  background-color: transparent; /* No background */
  color: turquoise; /* Mystery */
}
