/*********************************************

in this CSS code I am giving a background color to purple
I am also making the poem titles bigger and orange

Also hides overflow.

**********************************************/

body {
  font-family: cursive;
  padding-top: 2rem;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: rebeccapurple;
}

#squidPoemTitleSpace {
  font-size: 2rem;
  color: orange;
}
#tombPoemTitleSpace {
  font-size: 2rem;
  color: orange;
}
#glassPoemTitleSpace {
  font-size: 2rem;
  color: orange;
}
