/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  font-family: cursive;
  padding-top: 2rem;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: rebeccapurple;
}

#poulpe-img-button {
  margin-left: 20px;
}

#glass-img-button {
  margin-bottom: 20px;
}

#tomb-img-button {
  margin-right: 20px;
}
